@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
body{
  font-family: "M PLUS Rounded 1c", sans-serif;
}
a{
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.text-link a{
  color:#FCAF17;
  text-decoration:underline;
}
.text-link a:hover{
  text-decoration:none
}
.text-link a:active{
  text-decoration:none
  background-color:#bdbdbd
}
h1{
  color:#FCAF17;
}
h2{
  color:#FCAF17;
}
h3{
  color:#FCAF17;
}
