body{background-color:#fff; margin:0; display:flex; flex-direction:column; padding:0; }
header ul{ display:flex; flex-direction:row; list-style:none; width:100%; align-items:center; margin:0; position:fixed; top:0; padding:0 20px; box-sizing:border-box; }
header{ background-color:#FCAF17; width:100%; height:50px; align-items:center; position:fixed; z-index:100; }
button{cursor:pointer;}
.btn-head-share{ font-size:20px; padding:5px; margin-left:10px; width:90px; height:45px; border-radius:10px; background-color:#fff; border:1px solid #000; color:#000; transition:all 0.2s ease; }
.btn-head-share:hover{ background-color:#f5f5f5; }
.right{ margin-left:auto; }
.rogo{ padding:5px; margin:0; }
.rogo img{ width:30px; height:auto; aspect-ratio:1/1; }
.btn-close{ width:50px; aspect-ratio:1/1; border-radius:50%; }
.overlay{ width:100vw; height:100vh; background-color:#00000080; position:fixed; z-index:290; display:none; }

.toolbar{ display:flex; flex-direction:column; margin:0; padding:0; width:45px; height:max-content; background-color:#FFF9E6; position:fixed; top:100px; left:15px; border-radius:20px; box-shadow:1px 1px 5px 1px #8A8C8E; z-index:100; }
.toolbar button.active{ background-color:#FCAF17; color:#fff; }
.tools{ margin:5px 0; padding:0; width:40px; height:40px; border-radius:50%; background-color:#fff; color:#000; border:1px solid #000;  }

.mode-board{ margin:0; padding:0; display:flex; flex-direction:row; position:fixed; z-index:100; bottom:20px; left:40px; width:max-content; height:45px; background-color:#FFF9E6; border-radius:20px; box-shadow:1px 1px 5px 1px #8A8C8E; }
.mode{ margin:0 3px; border-radius:50%; border:1px solid #000; width:40px; height:40px; padding:0; background-color:#fff; color:#000; }
.mode-board button.active{ background-color:#FCAF17; color:#fff; }

.cade_QRcode_share{ position:fixed; top:calc(50% - 150px); left:calc(50% - 150px); margin:0; padding:5px; border-radius:10px; width:370px; height:450px; box-shadow:0px 0px 5px 2px #8A8C8E; background-color:#fff; }
.shareQRcode{ position:absolute; top:calc(50% - 150px); left:calc(50% - 150px); padding:0; margin:0; z-index:300; }
.QRcode_share_decoration{ width:50px; height:50px; margin:0; padding:0; position:absolute; border:3px solid #FCAF17; border-radius:50%; }

.QRcode_share_decoration_animation_1{ animation:QRcode_share_decoration_animation_No1 3s ease infinite; }
.QRcode_share_decoration_animation_2{ animation:QRcode_share_decoration_animation_No2 3s ease infinite; }
.QRcode_share_decoration_animation_3{ animation:QRcode_share_decoration_animation_No3 3s ease infinite; }
.QRcode_share_decoration_animation_4{ animation:QRcode_share_decoration_animation_No4 3s ease infinite; }

  @keyframes QRcode_share_decoration_animation_No1{
    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    60%{transform:scale(1.2);}
    100%{transform:scale(1);}
  }
  @keyframes QRcode_share_decoration_animation_No2{
    0%{transform:translateY(-0px);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(-0px);}
  }
  @keyframes QRcode_share_decoration_animation_No3{
    0%{transform:translateY(-0px) translateX(-0px);}
    50%{transform:translateY(-20px) translateX(-8px);}
    100%{transform:translateY(-0px) translateX(-0px);}
  }
  @keyframes QRcode_share_decoration_animation_No4{
    0%{transform:translateY(0px) translateX(0px);}
    50%{transform:translateY(20px) translateX(8px);}
    100%{transform:translateY(0px) translateX(0px);}
  }

.canvas{ width:3000px; height:3000px; transform-origin:0 0; z-index:-1; }
.viewport{ width:100vw; height:100vh; z-index:-1; overflow:hidden; /* はみ出た部分は隠す（スクロールバーを出さない）*/ touch-action:none; /* ブラウザ独自のスクロールやズームを無効化する */ }

/* display:none;で最初に非表示 */
.mini-study{ display:none; background-color:#fff; z-index:300; width:900px; height:650px; box-shadow:0px 0px 10px 1px #8A8C8E; text-align:center; margin:auto; top:50%; left:50%; transform:translate(-50%, -50%); position:fixed; }
.mini-study-close{ top:-600px; }
.mini-setting{ display:none; background-color:#fff; z-index:300; width:900px; height:650px; box-shadow:0px 0px 10px 1px #8A8C8E; text-align:center; margin:auto; top:50%; left:50%; transform:translate(-50%, -50%); position:fixed; }
.mini-setting-close{ top:-600px; }
.loading{ display:none; }

.share{ position:fixed; background-color:#fff; box-shadow:0px 0px 5px 1px #8A8C8E; width:300px; height:auto; border-radius:10px; padding:0; margin:0; top:70px; left:300px; z-index:300; display:none; }
.share-circles{ display:flex; flex-direction:row; flex-wrap:wrap; }
.btn-share-circle{ width:50px; height:50px; aspect-ratio:1/1; padding0; margin:0 20; border-radius:50%; border:1px solid #000; background:none; }
.btn-share-circle:hover{ background-color:#f5f5f5; }
.share-CircleAndText{ display:flex; flex-direction:column; align-items:center; padding:0; margin:0 auto; }
.btn-share-card{ width:100%; height:40px; padding:0; margin:5px 0; border:none; background:none; }
.btn-share-card:hover{ background-color:#f5f5f5; }

.ai-btn button{ color:#fff; background-color:#FCAF17; border-radius:30px; aspect-ratio:1/1; marigin:5px; padding:10px; width:50px; bottom: 20px;/* 下から20pxの位置 */ right: 20px;/* 右から20pxの位置 */ position:fixed;/* 画面に固定 */ z-index:100; }

.ContextMenu{  position:fixed; background-color:#fff; box-shadow:0px 0px 5px 1px #8A8C8E; width:200px; height:auto; border-radius:20px; padding:0; margin:0; display:none; }
.ContextMenu ul{ list-style:none; }
.ContextMenu-act{ width:100%; height:30px; padding:2px; margin:0; }

.BoardMenu{ position:fixed; background-color:#fff; box-shadow:0px 0px 5px 1px #8A8C8E; width:200px; height:auto; border-radius:10px; padding:10px 5px; margin:0; display:none; flex-direction:column; }
.BoardMenu hr{ width:80%; padding:0; color:#8A8C8E; margin:5px auto; }
.BoardMenu-act{ height:35px; padding:0 5px; margin:0; border:none; background:none; display:flex; align-items:center; justify-content:flex-start; border-radius:10px; }
.BoardMenu-act:hover{ background-color:#f5f5f5; }

.QuickMenu{ position:fixed; background-color:#fff; display:none; justify-content:center; align-items:center; box-shadow:0px 0px 5px 1px #8A8C8E; width:150px; border-radius:50%; aspect-ratio:1/1; left:500px; top:100px; display:none; }
.QuickMenu-add{ background:none; position:absolute; border-radius:50px; margin:0; padding:0; transitition:all 0.2s ease; }
.QuickMenu-add:hover{ background-color:#f5f5f5; }
.all-add-Menu{ color:#8A8C8E; width:50px; height:50px; border-radius:10px; border:0.7px solid #000; }
.Q-add-text{ color:#0000FF; transform:translateY(-50px); width:70px; height:50px; border:none; }
.Q-add-pin{ color:#ff0000; transform:translateX(-50px); width:50px; height:70px; border:none; }
.Q-add-note{ color:#FCAF17; transform:translateY(50px); width:70px; height:50px; border:none; }
.Q-add-material{ color:#3eb370; transform:translateX(50px); width:50px; height:70px; border:none; }

.ContentsHeader{ background-color:#fff; box-shadow:0px 0px 5px 1px #8A8C8E; width:fit-content; height:35px; padding:0; top:50%; left:50%; position:fixed; border-radius:30px; display:flex; align-items:center; }
.ContentsHeader ul{ list-style:none; display:flex; flex-direction:row; justify-content:center; padding:0px 5px; margin:0; }
.c-head-button{ width:30px; aspect-ratio:1/1; border-radius:30px; border:none; background:none; padding:0; margin:0; }
.c-head-button:hover{ background-color:#f5f5f5; }
.c-head-act-delete{ color:#b70000; }
.c-head-act-comment{ color:#94841e; }
.c-head-act-copys{ color:#188c10; }

.add-all-menu{ position:fixed; background-color:#FFF9E6; width:900px; height:650px; top:50%; left:50%; transform:translate(-50%, -50%); display:inline-block; overflow-y:auto;/*スクロール*/ -webkit-overflow-scrolling:touch;/*滑らかに*/ z-index:300; display:none; }
.all-add-contents{ width:100px; height:130px; margin:10px; padding:0; aspect-ratio:9/10; }
.add-all-menu-close{ top:20px; left:20px; width:50px; height:50px; padding:0; margin:0; }
.add-all-menu-card{ display:flex; flex-wrap:wrap; }
.all-add-contents{ border:none; background:none; border-radius:20px; }
.all-add-contents:hover{ background-color:#f5f5f5; }
.add-all-menu .material-symbols-outlined{ font-size:40px; }

.plot-material-card{ width:100px; background-color:#f5f5f5; border-radius:10px; transition:all 0.2s ease; padding:0; margin:4px; }
.plot-material-card:hover{ background-color:#e3e1e1; }
.material-search-bar{ padding:5px; margin:5px; border-radius:20px; width:90%; height:40px; border:1px solid #000; }
.all-material-cards{ display:flex; justify-content:center; align-items:flex-start; flex-wrap:wrap; padding:10px 5px; margin:0; }

.list-add-contents{ padding:5px; margin:0; position:fixed; display:flex; flex-direction:column; width:400px; height:90vh; border-radius:20px; background-color:#fff; box-shadow:0px 0px 5px 1px #8A8C8E; top:30px; right:5px; z-index:300; }

.btn-drag{ position:fixed; left:30%; top:50%; font-size:20px; width:30px; height:30px; padding:0; margin:0; border:0.5px solid #000; aspect-ratio:1/1; background-color:#fff; color:#000; box-shadow:0px 0px 5px 1px #8A8C8E; cursor:move; border-radius:50%; transition:all 0.2s ease; }
.btn-drag:hover{ background-color:#f5f5f5; }
.btn-drag:active{ background-color:#FCAF17; color:#fff; }

.sticky-note { position:absolute; left:30%; top:50%; width:max-content; height:max-content; display:flex; box-shadow:2px 2px 10px #8A8C8E; border-radius:5px; padding:10px; }
.sticky-note textarea{ width:150px; height:150px; background-color:#00000000; border:none; outline:none; overflow:auto; resize:both;/*縦横変更可能*/ margin:0; padding:0; } /* 付箋の入力欄のところ */
.title-edit{ width:200px; height:30px; white-space:nowrap;/*折り返しを防止*/ overflow:hidden;/*はみ出た部分を隠す*/ min-width:200px;/*空の時も最小値200pxより小さくならない*/ color:#fff; }
  
  @media(max-width:768px){
    .toolbar{ display:flex; flex-direction:row; margin:0; padding:0; width:max-content; height:45px; background-color:#FFF9E6; border-radius:0; position:fixed; bottom:45px; left:15px; z-index:250; overflow-x:auto; }
    .toolbar button.active{ background-color:#FCAF17; color:#fff; }
    .tools{ margin:0 5px; padding:0; width:40px; height:40px; border-radius:50%; background-color:#fff; color:#000; border:1px solid #000; }
  }
