@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block');

body{ font-family: "M PLUS Rounded 1c", sans-serif; }
a{ font-family: "M PLUS Rounded 1c", sans-serif; }
button{ cursor:pointer; }

.material-symbols-outlined { font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; padding:0; margin:0; }
.text-link a{ color:#FCAF17; text-decoration:none; }
.text-link a:hover{ text-decoration:underline; }
.text-link a:active{ text-decoration:underline; background-color:#bdbdbd;}
a.text-link{ color:#FCAF17; text-decoration:none; }
a.text-link:hover{ text-decoration:underline; }
a.text-link:active{ text-decoration:underline; background-color:#bdbdbd;}

h1{ color:#FCAF17;}
h2{ color:#FCAF17; }
h3{ color:#FCAF17; }

/* 実行しますか？ はい/いいえ のやつ */
.QuestionCade{ background-color:#fff; width:300px; height:300px; z-index:500; position:fixed; top:calc(50% - 150px); left:calc(50% - 150px); }
.btn-QuestionDo{ background-color:#FCAF17; border:1px solid #000; width:100px; height:30px; }
.btn-QuestionDo:active{ transform:scale(0.9); }
.btn-QuestionCancel{ background-color:#fff; border:1px solid #000; width:100px; height:30px; }
.btn-QuestionCancel:active{ background-color:#f5f5f5; transform:scale(0.9); }

/* 閉じるボタン */
.btn-close{ width:50px; height:50px; border-radius:50%; background:none; border:none; align-items:center; justify-content:center; }
.btn-close:hover{ background-color:#f5f5f5; }
/* 戻るボタン */
.btn-back{ background:none; border:none; border-radius:5px; width:80px; height:40px; padding:0; margin:0; display:flex; flex-direction:row; align-items:center; justify-content:center; }
.btn-back:hover{ background-color:#f5f5f5; }

/* スクロールバーを非表示にする */
.scrollbar-hidden{ scrollbar-width: none;/* Fierfox用 */ -ms-overflow-style: none;/* IE,Edgs用 */ }
.scrollbar-hidden::-webkit-scrollbar{ display:none; }/* chrome,safari,Opera用 */

/* ツールチップ */
[tooltip]::after{content: attr(tooltip); /* tooltipの内容を表示 */ position: fixed;
    top:0; left:0; transform: translate(calc(var(--mouse-x) * 1px - 50% + 10px), calc(var(--mouse-y) * 1px - 50% + var(--UpOrUnder) ));
    visibility: hidden; display: flex; flex-direction:row; justify-content:center; align-items:center; flex-wrap: nowrap; color:#fff; font-size:10px; background-color:#00000080; width: max-content; height:20px; padding:2px 5px; border-radius: 10px; z-index:1000; }
[tooltip]:hover::after { opacity: 1; visibility: visible; }
